# Core Libraries
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2

# Machine Learning
scikit-learn==1.4.2
xgboost==2.0.3
joblib==1.4.2

# Deep Learning
tensorflow==2.16.1
keras==3.3.3
focal-loss==0.0.7  # For Focal Loss function (optional)

# Image Processing
opencv-python==4.9.0.80
Pillow==10.3.0

# Utilities
tqdm==4.66.4
